<div class="container">
    <form [formGroup]="editEmployeeForm" (ngSubmit)="onFormSubmit(editEmployeeForm.value)">
  
      <h2>Edit Employee Form</h2>
  
        <div class="form-group">
          <input type="text" class="form-control" id="empId" formControlName="empId" hidden/>
        </div>

        <div class="form-group">
          <label for="empFirstName">First Name: </label>
          <input type="text" class="form-control" id="empFirstName" formControlName="empFirstName" />
        </div>
  
        <div class="form-group">
          <label for="empLastName">Last Name: </label>
          <input type="text" class="form-control" id="empLastName" formControlName="empLastName" />
        </div>
  
        <div class="form-group">
            <label for="dateOfBirth">Date Of Birth: </label>
            <input type="text" class="form-control" id="dateOfBirth" formControlName="dateOfBirth" />
          </div>

        <div class="form-group">
          <label for="email">Email: </label>
          <input type="text" class="form-control" id="email" formControlName="email" />
        </div>
  
        <div class="form-group">
          <label for="password">Password: </label>
          <input type="text" class="form-control" id="password" formControlName="password" />
        </div>
  
      <button type="submit" class="btn btn-primary">Edit User</button>
  
      <hr>
      <label>{{massage}}</label>
    </form>
  
  </div>